<table style=" width: 100%;height: 10%;background-color: aquamarine;">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/bookyourride"> Book Your Cab</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/viewCabDetails"> View Cab Details</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/cancelride"> Cancel Ride </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/rating">Rating </a>  </td>
    
  </tr>
</table>
<hr/>
<router-outlet></router-outlet>